
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color:#444;
    color: rgb(101, 218, 101);
}

.game{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
}

.titulo {
    /* height: 20%; */
}

#snake {
    margin: 0 auto;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: .3em;
    /* text-align: center; */
    line-height: 2.5em;
}

.game-over {
    display: none;
    border-radius: 10px;
    background-color: #444;
    width: 70%;
    position: absolute;
    top: 48vh;
    left: 15vw;
}

.game-over-show {
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.game-over h1{
    font-weight: 400;
    letter-spacing: normal;
    font-size: 1.5em;
    line-height: 2.5em;
}

.controls{
    /* height: 20%; */
    display: none;
}

main {
    padding: 1vh 0;
    /* border: #666 1px solid; */
    /* min-width: 50vw; */

}
ul, li {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    padding: .5em .5em;
    background-color: #111;
    border: #999 1px solid;
    border-radius: .25em;
    color: #ddd;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    padding-top: 1.5em;
}

nav ul:nth-child(1) {
    justify-content: center;
}

nav ul:nth-child(2) {
    justify-content: space-evenly;
}

nav ul:nth-child(2) li {
    width: 25%;
    display: flex;
    justify-content: center;
}

/* section {
    padding: 2vh 0;
    font-size: .8em;
    letter-spacing: .25em ;
    border: #999 1px solid;
} */

@media(min-width: 550px){
    .game{
        height: 90%;
    }

    /* #snake {
        width: 400px;
    } */
}

/*@media() {
    
} */